{% extends "admin_template.html" %}
{% block app_content %}

<div class="row-fluid">
    <div class="col-12 m-4">
        <table class="table table-sm">
            <thead class="thead thead-dark">
                <tr>
                    <th> ID </th>
                    <th> Дата </th>
                    <th> Имя </th>
                    <th> Сообщение </th>
                    <th> Телефон </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
            {% for message in messages %}
                <tr>
                    <td>{{ message.id }}</td>
                    <td>{{ message.time }}</td>
                    <td>{{ message.name }}</td>
                    <td>
                        {% autoescape false %}
                        {{ message.message | replace('\r', '') | replace('\n', '<br>') }}
                        {% endautoescape %}
                    </td>
                    <td>{{ message.phone }}</td>
                    <td><a href="{{ url_for('admin.feedback_del', id=message.id) }}">Удалить</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}