{% import 'bootstrap/wtf.html' as wtf %}
{% extends "admin_template.html" %}
{% block app_content %}
<div class="row-fluid">
    <div class="col-sm-8 offset-sm-2 p-4">
        <p class="text-center">Создать новую статью</p>
        {{ wtf.quick_form(form, form_type="horizontal", horizontal_columns=('sm', 3, 9)) }}
    </div>
</div>

<div class="row-fluid">
    <div class="col-12 m-4">
        <table class="table table-sm">
            <thead class="thead thead-dark">
                <tr>
                    <th> ID </th>
                    <th> Название по-русски </th>
                    <th> Назва українською </th>
                    <th> </th>
                    <th> </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.ru_name }}</td>
                    <td>{{ article.ua_name }}</td>
                    <td><a href="{{ url_for('admin.articles_edit', id=article.id) }}">Редактировать</a></td>
                    <td>
                        {% if article.visible %}
                            <a href="{{ url_for('admin.articles_hide', id=article.id) }}">Скрыть</a>
                        {% else %}
                            <a href="{{ url_for('admin.articles_show', id=article.id) }}">Показать</a>
                        {% endif %}
                    </td>
                    <td><a href="{{ url_for('admin.articles_del', id=article.id) }}">Удалить</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}