@font-face {
    font-family: BebasNeue;
    src: url(/static/font/BebasNeueLight.ttf);
    font-weight: normal;
    font-style: normal;
}
#header, #footer, .active {
    background: #32ABBE !important;
}
#header {
	height: 200px;
}
.nav-link {
    font: 12pt BebasNeue !iportant;
	font-weight: bold;
}
.sc {
    background-image: url(/static/img/optic_h.png);
	background-repeat: repeat-x;
}